
KSMessenger.xcodeproj/project.xcworkspace/contents.xcworkspacedata

KSMessenger.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/UserInterfaceState.xcuserstate

KSMessenger.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/KSMessenger.xcscheme

KSMessenger.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/xcschememanagement.plist
